html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header{
    width: 100%;
    height: 100%;
    background-color: brown;
    background-image: url("/static/images/2.jpg");
    background-size: cover;
}

.footer{
    width: 100%;
    height: 10%;
    background-image: url("/static/images/footerBackGround/tree1.jpg");
}

.container{
    widht: 100%;
    height: 90%;
    background-image: url("/static/images/rootBackground/bamboo.jpg");
    background-size: cover;
    box-shadow: inset 0 0 200px;
}

.mainMenu{
    width: 100%;
    height: 10%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 100;

}

.menuItem{
    color: aliceblue;
    font-size: 24px;
    display: inline-block;
    margin-top: 1em;
}

.menuItem a {
    text-decoration: none;
}

.menuItem a:visited{
    color: inherit;
    text-decoration: none;
}

/*Таблица словарь*/
.dictionaryTabContainer{
    height: 65%;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid black;
    box-shadow: 0px 1px 50px 0px white;
}

.dictionaryTabHeaders{
    width: 100%;
    background-color: grey;
    box-shadow: inset 0 0 2px;
}

.dictionaryTabHeaders th{
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
}

.scrollTable{
    overflow-x: auto;
    height: 82%;
}

.dictionaryTab{
    width: 100%;
    background-color: grey;
    box-shadow: inset 0 0 2px;
}

.dictionaryTab td{
    background-color: LightGrey;
    padding: 5px;
}

/*Форма добавления слова*/
.addWordContainer{
    padding-top: 2%;
}

.nihonInput{
    display: inline-block;
    margin-left: 10%;
}

.nihonInput input{
    padding-top: 5px;
    padding: 5px;
    font-family: Times New Roman;
    font-size: 16px;
    height: 20px;
    background-color: snow;
    border-radius: 4px;
}

.translateIcon{
    display: inline-block;
    width: 30px;
    min-height: 30px;
    height: 100%;
    margin: 0 1% 0 1%;
    vertical-align: top;
    background-image: url("/static/images/icons/translateIcon.png");
    background-size: cover;
    cursor: pointer;
}

.russiaInput{
    display: inline-block;
}

.russiaInput input{
    padding: 5px;
    font-family: Times New Roman;
    font-size: 16px;
    height: 20px;
    background-color: snow;
    border-radius: 4px;
}

.addButton{
    display: inline-block;
    background-color: white;
    width: 10%;
    min-height: 30px;
    height: 100%;
    margin-left: 1%;
    vertical-align: top;
}

.wordCounter{
    color: snow;
    margin: 1% 0 0 10%;
    font-size: 18px;

}

/*Форма регистрации*/
.regFormContainer{
    position: absolute;
    width: 36%;
    height: 35%;
    background-color: white;
    margin: 15% 0 0 32%;
    border-radius: 4px;
    background-image: url("/static/images/rootBackground/darkWave.jpg");
    background-size: cover;
    box-shadow: inset 0 0 10px;
}

.regForm label{
    display: block;
    padding: 5px;
    padding-left: 10px;
    margin-top: 1%;
    color: snow;
    font-size: 18px;
}

.regForm input{
    display: block;
    margin-left: 10px;
    padding: 5px;
    width: 40%;
    background-color: snow;
    border-radius: 5px
}

.regButton{
    display: block;
    padding: 5px;
    width: 34%;
    margin: 4% 0 0 34%;
}

/*Форма авторизации*/
.authFormContainer{
    position: absolute;
    width: 36%;
    height: 35%;
    background-color: white;
    margin: 15% 0 0 32%;
    border-radius: 4px;
    background-image: url("/static/images/rootBackground/darkWave.jpg");
    background-size: cover;
    box-shadow: inset 0 0 10px;
}

.authForm label{
    display: block;
    padding: 5px;
    padding-left: 10px;
    margin-top: 1%;
    color: snow;
    font-size: 18px;
}

.authForm input{
    display: block;
    margin-left: 10px;
    padding: 5px;
    width: 40%;
    background-color: snow;
    border-radius: 5px
}

.authButton{
    display: block;
    padding: 5px;
    width: 34%;
    margin: 15% 0 0 34%;
}

/*MainSearch*/
.searchElement{
    width: 50%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.3);
    margin:20% 0 0 25%;
    position: absolute;
    border-radius: 50px;

}

.mainSearch{
    width: 86%;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 0 0 0;
}

.searchIcon{
    background-color: #7BA7AB;
    width: 9%;
    margin: 0 auto;
    background-image: url("/static/images/icons/searchIcon3.png");
    background-size: cover;
    border-radius: 0 12px 12px 0;
    font-size: 13px;
    cursor: pointer;
}

.searchIcon:hover{
    box-shadow: 0 0 10px 1px #A2B6B5;
}

.searchWrap{
    width: 88%;
    padding: 2%;
    border-radius: 25px;
    margin: 24px 0 0 4%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.ka{
    margin: 14% 0 0 35%;
}

.randomCardArea{
    background-color: rgba(46, 48, 52, 1);
    width: 70%;
    height: 100%;
    margin: 0 0 0 15%;
    box-shadow:0px 0px 10px 0px #000;
    border-radius: 5px;
}

.randomCard{
    width: 80%;
    height: 80%;
    background-color: rgba(231, 232, 227, 1);
    margin: 0 0 0 10%;
    border-radius: 0 10px 10px 10px;
    position: relative;
}

.titleCard{
    margin: 0 10% 0 10%;
    padding: 10px 10px 10px 30px;
    font-size: 22px;
    background-color: #DBD7D2;
    width: 30%;
    border-radius: 40px 40px 0 0;
}

.randWordArea{
    width: 100%;
    height: 80%;
    box-shadow: 0 5px 50px -5px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.checkWordForm{
    width: 100%;
    height: 20%;
}

.word{
    width: 100%;
    display: inline-block;
    margin-top: 180px;
    font-size: 3em;
}

.checkWordInput{
    width: 40%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin: 30px 0 0 22%;
    direction: inline-block;
}

.checkWordButton{
    padding: 5px;
}

.dashBoardArea{
    background-color: rgba(46, 48, 52, 1);
    width: 70%;
    height: 100%;
    margin: 0 0 0 15%;
    box-shadow:0px 0px 10px 0px #000;
    border-radius: 5px;
}

.wordsInformation{
    padding-top: 10%;
    width: 30%;
    display: inline-block;
}

.badWordsInfo{
    background-color: red;
    width: 96%;
    height: 20%;
    padding: 4px;
    margin-block: 4px;
}

.allWordsInfo{
    background-color: #000080;
    width: 96%;
    height: 20%;
    padding: 4px;
    margin-block: 4px;
    font-size: 18px;
    color: lightblue;
}

.avgWordsInfo{
    background-color: yellow;
    width: 96%;
    height: 20%;
    padding: 4px;
    margin-block: 4px;
}

.goodWordsInfo{
    background-color: green;
    width: 96%;
    height: 20%;
    padding: 4px;
    margin-block: 4px;
}

.newWordsInfo{
    background-color: lightgrey;
    width: 96%;
    height: 20%;
    padding: 4px;
    margin-block: 4px;
}

.circleDiag{
    margin-top: 7%;
    margin-left: 15%;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
            pink 70deg,
            lightblue 0 235deg,
            orange 0
    );
}

.upperDash{
    background-color: cornsilk;
    height: 45%;
    width: 100%;
}

.profileDash{
    margin-top: 5%;
    margin-left: 35%;
    position: absolute;
    width: 13%;
    height: 15%;
    padding: 8px;
    background-color: #000080;
    display: inline-block;
    font-size: 18px;
    color: lightblue;
}

.profileDash > div{
    padding: 2px;
}

.dashBoardNotice{
    position: absolute;
    margin-top: 2%;
    margin-left: 4px;
}

.bottomDash{
    margin-top: 1%;
    height: 53%;
    background-color: cornsilk;
}

/*JLPTLevelGraph*/
* .levelGraph{
    height: 100%;
    width: 100%;
}

.n5Level{
    height: 80%;
    width: 15%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.n4Level{
    height: 80%;
    width: 15%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.n3Level{
    height: 80%;
    width: 15%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.n2Level{
    height: 80%;
    width: 15%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.n1Level{
    height: 80%;
    width: 12%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.userLevel{
    height: 80%;
    width: 15%;
    display: inline-block;
    position: relative;
    border-right: 1px dashed black;
}

.legendRight{
    height: 80%;
    width: 10%;
    display: inline-block;
    float: right;
    border-left: 2px solid black;
}

.legendRight > div{
    height: 9%;
}

.legentBottom{
    width: 100%;
    height: 20%;
    border-top: 2px solid black;
}

.legentBottom > div{
    display: inline-block;
    width: 15%;
    text-align: center;
}

.n5Level > div{
    width: 20%;
    background-color: #000080;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.n4Level > div{
    width: 20%;
    background-color: #000080;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.n3Level > div{
    width: 20%;
    background-color: #000080;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.n2Level > div{
    width: 20%;
    background-color: #000080;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.n1Level > div{
    width: 20%;
    background-color: #000080;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.userLevel > div{
    width: 20%;
    background-color: mediumpurple;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.dashBoardNoticeBottom{
    padding-top: 1%;
    width: 100% !important;
}

.levelMarker{
    position: absolute;
    width: 3000% !important;
    height: 1px;
    background-color: black;
}