{{define "mainMenu"}}
    <div class="mainMenu">
        <div class="menuItem" style="margin-left: 20%;">
            <a href="/">Название</a>
        </div>
        <div class="menuItem" style="margin-left: 5%">
            <a href="/dictionary/">Словарь</a>
        </div>
        <div class="menuItem" style="margin-left: 5%">Статистика</div>
        <div class="menuItem" style="margin-left: 5%">
            <a href="/testing/">Тест</a>
        </div>
        <div class="menuItem" style="margin-left: 7%">
            {{ if .SessionId}}
                <a href="/authorization/exit/">Выйти</a>
            {{ else }}
                <a href="/authorization/">Войти</a>/
                <a href="/registration/">Зарегистрироваться</a>
            {{ end }}
        </div>
    </div>
{{end}}